@media (max-width : 740px){
    .bg{
        overflow: hidden;
    }
    .btn{
        font-size: 30px;
        height: 80px;
    }
    .player{
        width: 400px;
        height: 575px;

    }
    .list-music {
        width: 400px;
    }
    .ml5{
        margin-top: 20px;
    }
    .ti-reload,
    .ti-control-shuffle,
    .ti-control-backward,
    .ti-control-forward{
    
    line-height: 80px;
}
}